<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>${title}</title>
  <link rel="stylesheet" href="${assetsPath}/assets/fontawsome/css/all.css">
  <link rel="stylesheet" href="${assetsPath}/assets/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="${assetsPath}/assets/style.css">

</head>

<body>
  <div class="container-fluid h-100 d-flex flex-column">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        ${breadcrumb}
      </ol>
    </nav>
    <div class="d-flex flex-column flex-grow-1">
      ${content}
    </div>
  </div>
</body>

</html>