/*
 @import './fontawsome/all.min.css';
 Only custom marker for summary/details
 For cross browser compatible styling hide Firefox's marker by setting summary { display: block }
 and Chrome and Safari's marker by setting ::-webkit-details-marker {display: none;}
*/

body {
  height: 100vh;
  font-family: arial;
  margin: 0;
}

iframe {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}

.container-fluid a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.container-fluid a i {
  margin-right: 6px;
  min-width: 16px;
}
.tree-nav {
  min-width: 450px;
  overflow: auto;
  padding-left: 2px;
}

summary {
  display: block;
  cursor: pointer;
  outline: 0;
}

summary::-webkit-details-marker {
  display: none;
}

.tree-nav__item {
  display: block;
  position: relative;
}

.tree-nav__item .tree-nav__item {
  margin-left: 20px;
}

.tree-nav__item.is-expandable[open] > .tree-nav__item-title::before {
  font-family: Fontawesome;
  transform: rotate(90deg);
}

.tree-nav__item.is-expandable > .tree-nav__item-title::before {
  will-change: transform;
  transition: transform 300ms ease;
  font-family: Fontawesome;
  content: "\f054";
  display: inline-block;
  text-align: center;
}

.tree-nav__item-title {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.tree-nav__item-title:hover {
  color: #0a58ca;
}

.tree-nav__item-title a {
  margin-left: 8px;
}

.tree-nav__item-title .fas {
  display: flex;
  margin-left: 2px;
  margin-right: 6px;
  color: #666;
}

.tree-nav__item-title::-webkit-details-marker {
  display: none;
}

.breadcrumb {
  padding: 0.75rem 1rem !important;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
