<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Archive POC</title>
  <link rel="stylesheet" href="./assets/fontawsome/css/all.css">
  <link rel="stylesheet" href="./assets/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/style.css">
</head>

<body>
  <div class="container-fluid h-100">
    <div class="d-flex h-100">
      <nav class="tree-nav border-end my-3">
        ${treeView}
      </nav>
      <div class="m-3 d-flex w-100">
        <iframe src="iframeConent.html" name="content" title="Generated content"></iframe>
      </div>
    </div>
  </div>
</body>

</html>